body {
    font-family: 'Arial', sans-serif;
    background-color: #383838;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff7518;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

h1 {
    margin: 0;
    font-size: 2.5rem;
    color: #ffffff;
}

main {
    padding: 40px;
}

footer {
    background-color: #575757;
    text-align: center;
    padding: 20px;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* flexbox layout */
.candy-collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.candy-box {
    background-color: #575757;
    padding: 20px;
    text-align: center;
    width: 150px;
    border-radius: 10px;
    transition: transform 0.3s, background-color 0.3s;
    border-radius: 10px;
    border: 2px solid #ff7518;
}

.candy-box img {
    height: 100px;
}

.candy-box p {
    margin-top: 10px;
    color: #ff7518;
    font-size: 1.2rem;
}

/* Bonus: Footer text */
footer p {
    font-size: 1rem;
    margin: 0;
}

/* Bonus: Adding bounce effect */
.candy-box:hover {
    background-color: #383838;
    transform: scale(1.1);
    animation: bounce 1.0s ease-in-out;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}